altair
pandas
streamlit
huggingface_hub
yfinance
fredapi
tradingeconomics
beautifulsoup4
selenium
smolagents
helium
pillow
webdriver-manager
duckduckgo-search
markdownify
requests
openpyxl
finance-datareader
plotly